*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color:rgba(24, 20, 20, 0.853);
}
.main-container{
    /* border: 2px solid red; */
    background-image:url(Pixel.jpg);
    background-position: center;
    background-size: cover;
}
.container{
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

    /* background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 100%,
    rgba(0, 0, 0, 0.8) 100%
  ); */
}
.heading{
    margin: 1rem;
    text-wrap: wrap;
}
.inputForm{ 
    width: 100%;
    /* padding-bottom: 8rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    text-align: center;
}
select,input{
    border: none;
    outline: none;
    border-radius: 10px;
    width: 6rem;
    padding: 0.6rem;
}
#input,#output{
    padding: 0.6rem;
}

.flag-field{
    /* border: 2px solid red; */
    display: flex;
    width: 5.2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:0.1rem;
    flex-wrap: wrap;
}
.quote{
    border: 2px solid red;
    font-size: 3rem;
    margin: 0.5rem;
}
.result{
    /* border: 2px solid red; */
    text-align: center;
    margin-bottom: 0.7rem;
}
.currency-container{
    /* border: 2px solid red; */
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.btn{
    width: 150px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border:2px solid rgba(183, 183, 23, 0.77);
    color:rgba(183, 183, 23, 0.77);
    background-color: #fff;
    border-radius: 15px;
    transition:background-color 0.3s, color 0.3s;
}
.btn:hover{
    background-color: rgba(183, 183, 23, 0.77);
    color: #fff;
}